In [2]:
import pandas as pd

In [3]:
listings_1 = pd.read_csv('Paris_listing_q1_2024.csv') #listings Q1 2024
listings_4 = pd.read_csv('Paris_listing_q2_2023.csv') #listings Q4 2023
listings_3 = pd.read_csv('Paris_listing_q3_2023.csv') #listings Q3 2023
listings_2 = pd.read_csv('Paris_listing_q4_2023.csv') #listings Q2 2023

In [4]:
listings_1.head()
listings_1.shape

(84397, 18)

In [5]:
listings_1.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             7
neighbourhood_group               84397
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             23480
minimum_nights                        0
number_of_reviews                     0
last_review                       25575
reviews_per_month                 25575
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           19800
dtype: int64

In [6]:
listings_2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3109,Rental unit in Paris · ★5.0 · 1 bedroom · 1 be...,3631,Anne,NaN,Observatoire,48.83191,2.31870,Entire home/apt,150.0,2,4,2019-10-24,0.05,1,327,0,7511409139079
1,5396,Rental unit in Paris · ★4.59 · Studio · 1 bed ...,7903,Borzou,NaN,Hôtel-de-Ville,48.85247,2.35835,Entire home/apt,146.0,1,374,2023-12-11,2.12,2,0,48,7510402838018
2,7397,Rental unit in Paris · ★4.73 · 2 bedrooms · 2 ...,2626,Franck,NaN,Hôtel-de-Ville,48.85909,2.35315,Entire home/apt,140.0,10,343,2023-11-16,2.22,7,198,22,7510400829623
3,7964,Rental unit in Paris · ★4.80 · 1 bedroom · 1 b...,22155,Anaïs,NaN,Opéra,48.87417,2.34245,Entire home/apt,180.0,7,5,2015-09-14,0.03,1,25,0,7510903576564
4,9359,Rental unit in Paris · 1 bedroom · 1 bed · 1 bath,28422,Bernadette,NaN,Louvre,48.86006,2.34863,Entire home/apt,75.0,180,0,NaN,NaN,1,185,0,"Available with a mobility lease only (""bail mo..."

In [7]:
listings_2.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             9
neighbourhood_group               74329
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              7221
minimum_nights                        0
number_of_reviews                     0
last_review                       17891
reviews_per_month                 17891
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           19642
dtype: int64

In [8]:
listings_3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3109,Rental unit in Paris · ★5.0 · 1 bedroom · 1 be...,3631,Anne,NaN,Observatoire,48.83191,2.31870,Entire home/apt,110,2,9,2019-10-24,0.11,1,253,0,7511409139079
1,5396,Rental unit in Paris · ★4.56 · Studio · 1 bed ...,7903,Borzou,NaN,Hôtel-de-Ville,48.85247,2.35835,Entire home/apt,140,1,354,2023-09-02,2.05,1,207,44,7510402838018
2,7397,Rental unit in Paris · ★4.73 · 2 bedrooms · 2 ...,2626,Franck,NaN,Hôtel-de-Ville,48.85909,2.35315,Entire home/apt,140,10,337,2023-08-31,2.23,1,211,25,7510400829623
3,7964,Rental unit in Paris · ★4.80 · 1 bedroom · 1 b...,22155,Anaïs,NaN,Opéra,48.87417,2.34245,Entire home/apt,180,7,6,2015-09-14,0.04,1,30,0,7510903576564
4,9359,Rental unit in Paris · 1 bedroom · 1 bed · 1 bath,28422,Bernadette,NaN,Louvre,48.86006,2.34863,Entire home/apt,75,180,0,NaN,NaN,1,105,0,"Available with a mobility lease only (""bail mo..."

In [9]:
listings_3.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             7
neighbourhood_group               67942
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       14757
reviews_per_month                 14757
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           18570
dtype: int64

In [10]:
listings_4.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1800877,Condo in Paris · ★4.55 · 1 bedroom · 1 bed · 1...,6069249,Stéphane,NaN,Buttes-Chaumont,48.890460,2.375670,Private room,35,60,56,2023-04-07,0.51,5,157,2,NaN
1,745443456858903167,Rental unit in Paris · ★4.80 · 1 bedroom · 1 b...,178498908,François,NaN,Hôtel-de-Ville,48.850571,2.362530,Entire home/apt,130,4,5,2023-05-01,0.68,1,11,5,7510407484219
2,22687665,Rental unit in Paris · ★4.71 · 1 bedroom · 2 b...,167168801,Hélène,NaN,Buttes-Chaumont,48.883470,2.379940,Entire home/apt,45,1,17,2018-06-11,0.26,1,0,0,7511901339746
3,25037271,Rental unit in Paris · ★4.96 · 1 bedroom · 2 b...,189282115,Yannick,NaN,Buttes-Chaumont,48.885021,2.380398,Entire home/apt,150,5,115,2023-06-04,1.94,1,0,25,7511902175035
4,27106295,Rental unit in Paris · 1 bedroom · 1 bed · 1 p...,186309131,Coline,NaN,Entrepôt,48.870180,2.368050,Private room,40,5,0,NaN,NaN,1,0,0,NaN

In [11]:
listings_4.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            18
neighbourhood_group               61706
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       12281
reviews_per_month                 12281
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           19378
dtype: int64

In [12]:
#Adding a new column to each dataframe to identify the quarter
listings_1['quarter'] = 'Q1_2024'
listings_2['quarter'] = 'Q4_2023'
listings_3['quarter'] = 'Q3_2023'
listings_4['quarter'] = 'Q2_2023'

In [13]:
listings_1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,quarter
0,39948,COSY INDEPENDENT ROOM IN CENTRAL PARIS,171483,Aliyah & Philippe,NaN,Bourse,48.870680,2.344600,Private room,NaN,5,126,2024-03-06,0.99,1,2,29,7510200734360,Q1_2024
1,40143,Stylish & Design 1BR flat- Voltaire Bastille,172322,Emmanuelle,NaN,Popincourt,48.857190,2.378310,Entire home/apt,NaN,365,11,2017-04-16,0.07,1,0,0,NaN,Q1_2024
2,40899,Lovely flat Canal Saint Martin Long stays,177130,Lola,NaN,Entrepôt,48.874380,2.372150,Entire home/apt,50.0,20,100,2022-08-19,0.92,1,176,0,7511000493125,Q1_2024
3,3109,zen and calm,3631,Anne,NaN,Observatoire,48.831910,2.318700,Entire home/apt,250.0,2,4,2019-10-24,0.05,1,355,0,7511409139079,Q1_2024
4,5396,Your perfect Paris studio on Île Saint-Louis,7903,Borzou,NaN,Hôtel-de-Ville,48.852470,2.358350,Entire home/apt,107.0,1,393,2024-03-14,2.19,2,183,61,7510402838018,Q1_2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84392,1112562855977040914,Artists neighbour apt /private yard 10mn Print...,448413156,Roedeer,NaN,Opéra,48.877789,2.341472,Entire home/apt,80.0,1,0,NaN,NaN,15,174,0,7510164795125,Q1_2024
84393,1112591023192990750,Appartement Tour Eiffel - Porte Dauphine - 2 Pers,528792181,France,NaN,Passy,48.855590,2.274670,Entire home/apt,167.0,1,0,NaN,NaN,6,126,0,7511612355663,Q1_2024
84394,1112842648117310093,1621: Prime spot in Paris Olympic Games 2024,530443572,Holidays,NaN,Opéra,48.877712,2.337060,Entire home/apt,98.0,1,0,NaN,NaN,6,356,0,7510912350413,Q1_2024
84395,1112843324939236177,Stylish flat in the heart of the city,504268004,Checkmyguest,NaN,Panthéon,48.853320,2.344220,Entire home/apt,296.0,3,0,NaN,NaN,47,249,0,7510608018554,Q1_2024
84396,1112849968490989659,1637: Prime location in Paris Olympic Games 2024,530443572,Holidays,NaN,Observatoire,48.830480,2.317500,Entire home/apt,71.0,1,0,NaN,NaN,6,361,0,7511412350670,Q1_2024

In [14]:
listings_2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,quarter
0,3109,Rental unit in Paris · ★5.0 · 1 bedroom · 1 be...,3631,Anne,NaN,Observatoire,48.831910,2.318700,Entire home/apt,150.0,2,4,2019-10-24,0.05,1,327,0,7511409139079,Q4_2023
1,5396,Rental unit in Paris · ★4.59 · Studio · 1 bed ...,7903,Borzou,NaN,Hôtel-de-Ville,48.852470,2.358350,Entire home/apt,146.0,1,374,2023-12-11,2.12,2,0,48,7510402838018,Q4_2023
2,7397,Rental unit in Paris · ★4.73 · 2 bedrooms · 2 ...,2626,Franck,NaN,Hôtel-de-Ville,48.859090,2.353150,Entire home/apt,140.0,10,343,2023-11-16,2.22,7,198,22,7510400829623,Q4_2023
3,7964,Rental unit in Paris · ★4.80 · 1 bedroom · 1 b...,22155,Anaïs,NaN,Opéra,48.874170,2.342450,Entire home/apt,180.0,7,5,2015-09-14,0.03,1,25,0,7510903576564,Q4_2023
4,9359,Rental unit in Paris · 1 bedroom · 1 bed · 1 bath,28422,Bernadette,NaN,Louvre,48.860060,2.348630,Entire home/apt,75.0,180,0,NaN,NaN,1,185,0,"Available with a mobility lease only (""bail mo...",Q4_2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74324,1043629451440755792,Rental unit in Paris · ★New · Studio · 1 bed ·...,50308796,Anais,NaN,Ménilmontant,48.868059,2.407307,Entire home/apt,52.0,1,0,NaN,NaN,1,100,0,7512010784549,Q4_2023
74325,1043707020977346344,Rental unit in Paris · ★New · 1 bedroom · 1 be...,18385602,Stanislas,NaN,Buttes-Montmartre,48.891719,2.335972,Entire home/apt,500.0,1,0,NaN,NaN,1,27,0,7511810784902,Q4_2023
74326,1043932119757241230,Rental unit in Paris · ★New · 3 bedrooms · 4 b...,335998296,Studioprestige,NaN,Entrepôt,48.874650,2.355466,Entire home/apt,324.0,1,0,NaN,NaN,121,362,0,7511505605678,Q4_2023
74327,1043947326757240041,Rental unit in Paris · ★New · 1 bedroom · 2 be...,503331047,John,NaN,Élysée,48.869724,2.318358,Entire home/apt,85.0,1,0,NaN,NaN,30,290,0,7510810007394,Q4_2023
74328,1043968453109441641,Rental unit in Paris · ★New · 2 bedrooms · 3 b...,533054106,Helene,NaN,Temple,48.868092,2.359397,Entire home/apt,190.0,1,0,NaN,NaN,9,364,0,7511010785617,Q4_2023

In [15]:
listings_df = pd.concat([listings_1, listings_2, listings_3,listings_4],ignore_index=True, axis=0)
listings_df
listings_df.shape
listings_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,quarter
0,39948,COSY INDEPENDENT ROOM IN CENTRAL PARIS,171483,Aliyah & Philippe,NaN,Bourse,48.87068,2.34460,Private room,NaN,5,126,2024-03-06,0.99,1,2,29,7510200734360,Q1_2024
1,40143,Stylish & Design 1BR flat- Voltaire Bastille,172322,Emmanuelle,NaN,Popincourt,48.85719,2.37831,Entire home/apt,NaN,365,11,2017-04-16,0.07,1,0,0,NaN,Q1_2024
2,40899,Lovely flat Canal Saint Martin Long stays,177130,Lola,NaN,Entrepôt,48.87438,2.37215,Entire home/apt,50.0,20,100,2022-08-19,0.92,1,176,0,7511000493125,Q1_2024
3,3109,zen and calm,3631,Anne,NaN,Observatoire,48.83191,2.31870,Entire home/apt,250.0,2,4,2019-10-24,0.05,1,355,0,7511409139079,Q1_2024
4,5396,Your perfect Paris studio on Île Saint-Louis,7903,Borzou,NaN,Hôtel-de-Ville,48.85247,2.35835,Entire home/apt,107.0,1,393,2024-03-14,2.19,2,183,61,7510402838018,Q1_2024

In [16]:
columns_to_remove = ['last_review',
                   'number_of_reviews_ltm',
                   'license',
                   'neighbourhood_group']
listings_df.drop(columns=columns_to_remove, inplace=True)

In [17]:
listings_df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,39948,COSY INDEPENDENT ROOM IN CENTRAL PARIS,171483,Aliyah & Philippe,Bourse,48.870680,2.344600,Private room,NaN,5,126,0.99,1,2,Q1_2024
1,40143,Stylish & Design 1BR flat- Voltaire Bastille,172322,Emmanuelle,Popincourt,48.857190,2.378310,Entire home/apt,NaN,365,11,0.07,1,0,Q1_2024
2,40899,Lovely flat Canal Saint Martin Long stays,177130,Lola,Entrepôt,48.874380,2.372150,Entire home/apt,50.0,20,100,0.92,1,176,Q1_2024
3,3109,zen and calm,3631,Anne,Observatoire,48.831910,2.318700,Entire home/apt,250.0,2,4,0.05,1,355,Q1_2024
4,5396,Your perfect Paris studio on Île Saint-Louis,7903,Borzou,Hôtel-de-Ville,48.852470,2.358350,Entire home/apt,107.0,1,393,2.19,2,183,Q1_2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288369,2404876,Rental unit in Paris · ★4.77 · 3 bedrooms · 3 ...,2616123,Corinne,Popincourt,48.863560,2.371900,Entire home/apt,195.0,3,113,1.01,1,8,Q2_2023
288370,876625296659823798,Rental unit in Paris · ★New · 1 bedroom · 1 be...,148422008,Anne,Batignolles-Monceau,48.885302,2.311331,Entire home/apt,62.0,100,0,NaN,1,203,Q2_2023
288371,574584027642384480,Condo in Paris · ★5.0 · 4 bedrooms · 3 beds · ...,109810931,Lionel,Vaugirard,48.854590,2.292530,Entire home/apt,400.0,3,6,0.55,1,34,Q2_2023
288372,50718612,Hostel in Paris · ★4.96 · 1 bedroom · 6 beds ·...,315206797,Les Piaules,Popincourt,48.868940,2.377910,Private room,479.0,1,23,1.02,10,292,Q2_2023
288373,893900838665539285,Rental unit in Paris · ★New · 1 bedroom · 1 be...,233606677,Lou,Popincourt,48.863310,2.374860,Entire home/apt,85.0,1,1,1.00,1,344,Q2_2023

In [18]:
listings_df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            41
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             30701
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 70504
calculated_host_listings_count        0
availability_365                      0
quarter                               0
dtype: int64

In [19]:
listings_df['price'].mean().round(2)

227.34

In [20]:
listings_df['price'] = listings_df['price'].fillna(listings_df['price'].mean()).round(2)

In [21]:
listings_df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,39948,COSY INDEPENDENT ROOM IN CENTRAL PARIS,171483,Aliyah & Philippe,Bourse,48.870680,2.344600,Private room,227.34,5,126,0.99,1,2,Q1_2024
1,40143,Stylish & Design 1BR flat- Voltaire Bastille,172322,Emmanuelle,Popincourt,48.857190,2.378310,Entire home/apt,227.34,365,11,0.07,1,0,Q1_2024
2,40899,Lovely flat Canal Saint Martin Long stays,177130,Lola,Entrepôt,48.874380,2.372150,Entire home/apt,50.00,20,100,0.92,1,176,Q1_2024
3,3109,zen and calm,3631,Anne,Observatoire,48.831910,2.318700,Entire home/apt,250.00,2,4,0.05,1,355,Q1_2024
4,5396,Your perfect Paris studio on Île Saint-Louis,7903,Borzou,Hôtel-de-Ville,48.852470,2.358350,Entire home/apt,107.00,1,393,2.19,2,183,Q1_2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288369,2404876,Rental unit in Paris · ★4.77 · 3 bedrooms · 3 ...,2616123,Corinne,Popincourt,48.863560,2.371900,Entire home/apt,195.00,3,113,1.01,1,8,Q2_2023
288370,876625296659823798,Rental unit in Paris · ★New · 1 bedroom · 1 be...,148422008,Anne,Batignolles-Monceau,48.885302,2.311331,Entire home/apt,62.00,100,0,NaN,1,203,Q2_2023
288371,574584027642384480,Condo in Paris · ★5.0 · 4 bedrooms · 3 beds · ...,109810931,Lionel,Vaugirard,48.854590,2.292530,Entire home/apt,400.00,3,6,0.55,1,34,Q2_2023
288372,50718612,Hostel in Paris · ★4.96 · 1 bedroom · 6 beds ·...,315206797,Les Piaules,Popincourt,48.868940,2.377910,Private room,479.00,1,23,1.02,10,292,Q2_2023
288373,893900838665539285,Rental unit in Paris · ★New · 1 bedroom · 1 be...,233606677,Lou,Popincourt,48.863310,2.374860,Entire home/apt,85.00,1,1,1.00,1,344,Q2_2023